
#index_body{  
    max-height: 100vh !important; 
    background-image: url("/img/body_bg.jpg");
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.reg_form {
    z-index: 15;
    background: #fff;
    width: 480px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 100px auto 10px;;
    overflow: hidden;
  }

  .logo-dashboard {
    max-width:167px;
    max-height:39px;
    margin-left: 28px;
  }

  .big_logo{
   max-height: 80px;
   max-width: 313px;
   margin-top: 20px;
   margin-left: 20px;
  }

.small_logo{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reg_form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}
.reg_form-group:last-child {
    margin: 0;
}
.reg_form-group label {
    display: block;
    margin: 0 0 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.form-group select{
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width:100%;
}


.reg_form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}
.reg_form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
}

.form-group button {
    outline: none;
    background: #4285f4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}
.form-group .form-remember input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}
.form-group .form-recovery {
    color: #4285f4;
    font-size: 14px;
    text-decoration: none;
}
.form-panel {
    padding: 40px calc(5% + 40px) 40px 40px;
    box-sizing: border-box;
}
.form-panel.one:before {
    content: '';
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
}


.form-header {
    margin: 10px 0 40px;
}
.form-header h1 {
    padding: 4px 0;
    color: #4285f4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.cp-fab {
    background: #fff !important;
    color: #4285f4 !important;
}

.add-button{
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
    border-radius: 2px;
    box-shadow: none;
    float: right;
    vertical-align: middle;
    background-position: 50% 50%;
    margin: 1em 1.5em;
    font-weight: 500;
    line-height: 1.28571428em;
    padding: 8px 14px;
    overflow: visible;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;;
}

.table-bordered>thead>tr>th{
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
}

.table.dataTable.display{
    font-family:"Nunito Sans",sans-serif !important;
}

table.dataTable.display tbody td {
     border-top:0px !important;
     border-left-width: 0;
     border-right-width: 1px;
     border-style: solid;
}

table.dataTable tbody {
    font-weight: 100 !important;
    padding-top: 1rem;
    padding-right: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}



td::first-letter{
    text-transform: capitalize;
}

td img{
    max-height: 30px;
    max-width: 30px;
}

@media (max-width: 767px){
    .add-button-text{
    display:none;
    }
}



