<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container" id="index_body">
  <%- include('../partials/big_logo'); %>

  
    <div class="form">
      <div class="form-toggle"></div>
      <div class="form-panel one">
        <div class="form-header">
          <h1>Account Login</h1>
        </div>
        <div class="form-content">
          <form>
            <div class="form-group"><label for="username">Username</label><input type="text" id="username"
                name="username" required="required" /></div>
            <div class="form-group"><label for="password">Password</label><input type="password" id="password"
                name="password" required="required" /></div>
           <br>
            <div class="form-group"><button type="submit">Log In</button></div>
            <br>
            <div class="form-group">
              <a class="form-recovery" href="/register">Create Account</a>
              <a class="form-recovery" href="#">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="form-panel two">

      </div>
    </div>









</body>

</html>