<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body id="index_body">
  <div class="wrapper">
    <%- include('../partials/big_logo'); %>

    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 80vh">
      <div class="jumbotron reg_form" style="padding-top: 15px;">
        <div class="form">
          <div class="form-header">
            <h1>Create Account</h1>
            <% if(typeof errors !=="undefined" ) { %>
              <% errors.forEach(function(error){ %>
                <p style="color: red;">
                  <%= error.msg %>
                </p>
                <% }) %>
                  <% } %>
          </div>
          <form method="POST" action="/register">
            <div class="form-group reg_form-group"><label for="usercode">Code</label><input type="text" id="code" name="code"
                required="required" /></div>
            <div class="form-group reg_form-group"><label for="username">Username</label><input type="text" id="username"
                name="username" required="required" /></div>
            <div class="form-group reg_form-group"><label for="password">Password</label><input type="password" id="password"
                name="password" required="required" /></div>
            <div class="form-group reg_form-group"><label for="cpassword">Confirm Password</label><input type="password" id="cpassword"
                name="cpassword" required="required" /></div>
            <br>
            <div class="form-group reg_form-group"><button type="submit">Register</button></div>
          </form>


        </div>


      </div>
    </div>
</body>

</html>