<div class="sidebar" data-color="black" data-image="/img/sidebar_bg.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
                <img class="logo-dashboard" src="/img/OneSpace_logo.png" alt="logo">
        </div>

        <ul class="nav">
            <li class="active">
                <a href="dashboard.html">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/members">
                    <i class="pe-7s-users"></i>
                    <p>People</p>
                </a>
            </li>
            <li>
                <a href="/ministries">
                    <i class="pe-7s-note2"></i>
                    <p>Ministries</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="pe-7s-home"></i>
                    <p>Daughter Churches</p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="pe-7s-date"></i>
                    <p>Calender</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="pe-7s-wallet"></i>
                    <p>Donations</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="pe-7s-config"></i>
                    <p>Settings</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="pe-7s-user"></i>
                    <p>My Profile</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>